<div class="narrow-content">
    <div class="accordion-container" >
        {{ if title }}
        <h3>{{ title }}</h3>
        {{ /if }}
        <div class="accordion" id="accordion-{{ index }}">
            {{ faq }}
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button {{ if index != 0 }}collapsed{{ /if }}" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ handle }}-{{ index }}" aria-expanded="true" aria-controls="lorem">
                        {{ title }}
                    </button>
                </h4>
                <div id="accordion-{{ handle }}-{{ index }}" class="accordion-collapse collapse {{ if index == 0 }}show{{ /if }}" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        {{ answer}}
                    </div>
                </div>
            </div>
            {{ /faq }}
        </div>
    </div>
</div>
