<div class="sets featured-publication">
    {{ if title }}
    <h3 class="heading">{{ title }}</h3>
    {{ /if }}
    {{ publications }}
        <div class="publication">
            <div class="thumbnail">
                {{ glide:image width="600" format="webp" }}
                <img class="d-none img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                <div class="img-container"
                     style="background-image: url({{ url }})"
                >
                </div>
                {{ /glide:image }}
            </div>
            <div class="content">
                <h4 class="title">
                    <a href="{{ url }}" target="_blank">{{ title }}</a>
                </h4>
            </div>
        </div>
    {{ /publications }}
</div>
