{{ section:captcha_head }}
    {{ captcha:head }}
{{ /section:captcha_head }}

<div class="sets form">
    <div class="container">
        <div class="narrow-content">
            {{ if title }}
            <h3>{{ title }}</h3>
            {{ /if }}
            <div class="form-container">
                {{ form:create in="{ form_type:handle }"  class="ajax-form"}}
                {{ if success }}
                <div class="alert alert-success">
                    {{ success }}
                </div>
                {{ else }}
                {{ if errors }}
                <div class="alert alert-danger">
                    {{ errors }}
                    {{ value }}<br>
                    {{ /errors }}
                </div>
                {{ /if }}

                <div class="alert alert-success d-none">
                    Message sent
                </div>
                <div class="alert alert-danger d-none">
                </div>

                <div class="row was-validation">
                    {{ fields }}
                    {{ if handle != 'project_id' and handle != 'admin_email' and handle != 'admin_name' }}
                    <div class="col-xs-12 {{ if width != '100' }} col-md-6 {{ /if }}">
                        <div class="field">
                            <label class="form-label">{{ display }}</label>
                            {{ if type == 'text' }}
                            <input name={{ handle }} type="text" class="form-control {{ if error }} is-invalid{{ /if }}"
                                   value="{{ old }}">
                            {{ elseif type == 'textarea' }}
                            <textarea name={{ handle }} type="text"
                                      class="form-control {{ if error }} is-invalid{{ /if }}">{{ old }}</textarea>
                            {{ /if }}
                            {{ if error }}
                            <div class="invalid-feedback">{{ error }}</div>
                            {{ /if }}
                        </div>
                    </div>
                    {{ else }}
                        {{ if handle == 'project_id' }}
                            <input name={{ handle }} type="hidden" value="{{ get:project_id }}">
                        {{ elseif handle == 'admin_email' }}
                            <input name={{ handle }} type="hidden" value="{{ contact_email project_id=get:project_id show='emails' }}">
                        {{ elseif handle == 'admin_name' }}
                            <input name={{ handle }} type="hidden" value="{{ contact_email project_id=get:project_id show='name' }}">
                        {{ /if }}
                    {{ /if }}
                    {{ /fields }}
                </div>
                <div class="row form-footer">
                    <div class="col-md-6 col-xs-12">
                        <div class="captcha-container">
                            {{ captcha }}

                            {{ if error:captcha }}
                            <p>{{ error:captcha }}</p>
                            {{ /if }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 text-end">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
                {{ /if }}

                {{ /form:create }}
            </div>
        </div>
    </div>
</div>
