{{ section:script }}
<script src="https://www.google.com/recaptcha/api.js?render={{ config:app:recaptcha_site_key }}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    const btnSubmit = document.getElementById("btn-submit");
    if (btnSubmit) {
        document.getElementById("btn-submit").addEventListener("click", function (e) {
            e.preventDefault();
            hideErrorRibbon();
            const payload = {
                name: document.getElementById('name').value,
                email: document.getElementById('email').value,
                subject: document.getElementById('subject').value,
                message: document.getElementById('message').value,
            }
            const project = document.getElementById('project_id').value;
            let url = "{{ config:app:contact_api_url }}";
            let action = "contact_mermaid";
            if (typeof project !== "undefined" && project !== "") {
                Object.assign(payload, { project });
                url = "{{ config:app:contact_project_api_url }}";
                action = "contact_project_admins";
            }

            try {
                return grecaptcha.ready(function () {
                    grecaptcha.execute('{{ config:app:recaptcha_site_key }}', { action }).then(function (token) {
                        console.log({ token });
                        Object.assign(payload, { recaptcha: token });

                        console.log({ payload });
                        return axios.post(url, payload).then(res => {
                            document.getElementById('contact-form').submit();
                            return res;
                        })
                            .catch(err => {
                                console.log({ err });
                                let err_msg = "";
                                const data = err.response.data;
                                if (err.response) {
                                    if (data.name?.length) err_msg += data.name.map(e => "Name : " + e).join("<br>") + "<br>";
                                    if (data.email?.length) err_msg += data.email.map(e => "Email : " + e).join("<br>") + "<br>";
                                    if (data.subject?.length) err_msg += data.subject.map(e => "Subject : " + e).join("<br>") + "<br>";
                                    if (data.message?.length) err_msg += data.message.map(e => "Message : " + e).join("<br>") + "<br>";
                                    if (data.project?.length) err_msg += data.project.map(e => "Project : " + e).join("<br>") + "<br>";
                                    if (data.recaptcha?.length) err_msg += data.recaptcha.map(e => "reCAPTCHA : " + e).join("<br>") + "<br>";
                                }
                                if (err_msg !== "") {
                                    showErrorRibbon(err_msg);
                                }
                            })

                    }).catch(err => showErrorRibbon("Token expired, please reload page"));
                });
            } catch (err) {
                console.log({ err });
            }
        });
    }

    function hideErrorRibbon() {
        document.getElementById('error-ribbon').innerHTML = "";
        document.getElementById('error-ribbon').style.display = "none";
    }

    function showErrorRibbon(message) {
        document.getElementById('error-ribbon').innerHTML = message;
        document.getElementById('error-ribbon').style.display = "block";
    }
</script>
{{ /section:script }}

<div class="sets form">
    <div class="container">
        <div class="narrow-content">
            {{ if title }}
            <h3>{{ title }}</h3>
            {{ /if }}
            <div class="form-container">
                {{ form:create in="{ form_type:handle }" class="ajax-form" id="contact-form"}}
                {{ if success }}
                <div class="alert alert-success">
                    {{ success }}
                </div>
                {{ else }}
                <div class="alert alert-danger" id="error-ribbon" style="display: none;">
                </div>
                {{ if errors }}
                <div class="alert alert-danger">
                    {{ errors }}
                    {{ value }}<br>
                    {{ /errors }}
                </div>
                {{ /if }}

                <div class="alert alert-success d-none">
                    {{ trans:form.sent }}
                </div>
                <div class="alert alert-danger d-none">
                </div>

                <div class="row was-validation">
                    {{ fields }}
                    {{ if handle != 'project_id' }}
                    <div class="col-xs-12 {{ if width != '100' }} col-md-6 {{ /if }}">
                        <div class="field">
                            <label class="form-label">{{ display }}</label>
                            {{ if type == 'text' }}
                            <input name={{ handle }} id={{ handle }} type="text"
                                class="form-control {{ if error }} is-invalid{{ /if }}" value="{{ old }}">
                            {{ elseif type == 'textarea' }}
                            <textarea name={{ handle }} id={{ handle }} type="text"
                                class="form-control {{ if error }} is-invalid{{ /if }}">{{ old }}</textarea>
                            {{ /if }}
                            {{ if error }}
                            <div class="invalid-feedback">{{ error }}</div>
                            {{ /if }}
                        </div>
                    </div>
                    {{ else }}
                    {{ if handle == 'project_id' }}
                    <input name={{ handle }} id={{ handle }} type="hidden" value="{{ get:project_id }}">
                    {{ /if }}
                    {{ /if }}
                    {{ /fields }}
                </div>
                <div class="row form-footer">
                    <div class="col-md-6 col-xs-12">
                    </div>
                    <div class="col-md-6 col-xs-12 text-end">
                        <button class="btn btn-primary" id="btn-submit">Submit</button>
                    </div>
                </div>
                {{ /if }}

                {{ /form:create }}
            </div>
        </div>
    </div>
</div>