<div class="sets image-box {{ position }}-text" style="background-image: url('{{ glide:image  width="1920" format="webp"}}')">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-container">
                    <div class="padding before"></div>
                    <div class="narrow-content">
                        <div class="intro-medium text-{{ mode }}">
                            {{ title }}
                        </div>
                        <div class="intro-large text-{{ mode }}">
                            {{ subtitle }}
                        </div>
                    </div>
                    <div class="padding after"></div>
                </div>
            </div>
        </div>
    </div>
</div>
