<div class="sets image-gallery">
    <h2>{{ title }}</h2>
    {{ gallery }}
        <div>{{ description }}</div>
        <div class="images-container">
            <div class="row">
                {{ glide:images width="300" format="webp" }}
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="image">
                            <img src="{{ url }}"  alt="{{ alt }}" title="{{ title ?? alt }}">
                        </div>
                    </div>
                {{ /glide:images }}
            </div>
        </div>
    
        
        
    {{ /gallery }}
</div>
