<div class="container sets single-image">
    <div class="row">
        <div class="col">
            {{ if image:extension != "gif" }}
                <img class="img-fluid w-100" src="{{ glide:image width="1200" format="webp" }}" alt="{{ image:alt }}">
            {{ else }}
                <img class="img-fluid w-100" src="{{ image:url }}" alt="{{ image:alt }}">
            {{ endif }}
            {{ if image:caption }}
            <div class="caption">
                {{ image:caption }}
            </div>
            {{ /if }}
        </div>
    </div>
</div>
