<div class="container sets slideshow">
    <div class="row">
        <div class="col">
            {{ if title }}
            <h3>{{ title }}</h3>
            {{ /if }}
            {{ slideshow }}
            <div class="slick-slideshow">
                {{ glide:images width="1200" format="webp" }}
                <div class="slick-item">
                    <img class="img-fluid w-100" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                </div>
                {{ /glide:images }}
            </div>
            {{ /slideshow }}
            {{ if caption }}
            <div class="caption">
                {{ caption }}
            </div>
            {{ /if }}
        </div>
    </div>

</div>
