<div class="sets staff my-4">
    <h3>{{ title }}</h3>
    <div class="row">
        {{ staff }}
            <div class="col-md-4">
                <div class="card">
                    {{ if link != '' }}
                    <a href="{{ link }}" class="stretched-link">
                    {{ /if }}
                        <img class="card-img-top" src="{{ glide:avatar width="400" format="webp" }}" alt="{{ avatar:alt }}">
                    {{ if link }}
                    </a>
                    {{ /if }}
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ position }}</h6>
                        {{ profile }}
                    </div>
                </div>
            </div>
        {{ /staff }}
    </div>
</div>
