<section class="teams">
    <div class="container">
        {{ if title }}
        <div class="row">
            <div class="col">
                <div class="narrow-content">
                    <h3 class="team-title">{{ title }}</h3>
                </div>
            </div>
        </div>
        {{ /if }}
        <div class="row">
            {{ staff }}
            <div class="col-sm-6 col-md-4">
                <div class="team">
                    <div class="avatar">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ slug }}">
                            <img class="" src="{{ glide:avatar width="400" format="webp" }}" alt="{{ avatar:alt }}">
                        </a>
                    </div>
                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ slug }}">{{ title }}</a></h3>
                    <p>
                        {{ position }}
                        <br>
                        {{ organization }}
                    </p>
                </div>
            </div>
            {{ /staff }}
        </div>
    </div>
</section>
