<div class="sets subscribe-cta {{ class }}" data-aos="fade-up">
    <div class="bg-container">
        <div class="bg-image" style="background-image: url('{{ glide:newsletter:small_image width="600" format="webp"}}');"></div>
        <div class="bg-gradient"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="content">
                <h3>{{ newsletter:title }}</h3>
                <div class="intro-medium">
                    {{ newsletter:lead }}
                </div>
                <a href="{{ newsletter:button_url }}" class="btn btn-primary">
                    {{ newsletter:button_label }}
                </a>
            </div>
        </div>
    </div>
</div>
