<div class="sets subscribe-cta {{ class }}" data-aos="fade-up">
    <div class="bg-container">
        <div class="bg-image" style="background-image: url('{{ settings:subscribe_image }}');"></div>
        <div class="bg-gradient"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="content">
                <h3>{{ settings:subscribe_title }}</h3>
                <div class="intro-medium">
                    {{ settings:subscribe_lead }}
                </div>
                <a href="{{ settings:subscribe_button_url }}" class="btn btn-primary">
                    {{ settings:subscribe_button_label }}
                </a>
            </div>
        </div>
    </div>
</div>
