<div class="animated-header">
    <svg enable-background="new 0 0 150 30" viewBox="0 0 150 30" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        
        <linearGradient id="a" gradientTransform="rotate(90)">
            <stop offset="0" stop-color="#c2e1ff"/>
            <stop offset="1" stop-color="#fff"/>
        </linearGradient>
        <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="683" x2="683" xlink:href="#a" y1="0" y2="193.81" gradientTransform="rotate(90)"/>
        <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="683" x2="683" y1="51" y2="280" >
            <stop offset="0" stop-color="#88bdf2"/>
            <stop offset="1" stop-color="#c2e1ff"/>
        </linearGradient>
        
        <g class="parallax" opacity=".2">
            <path d="m-112 9.3c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"
                  fill="url(#b)"/>
            <path d="m-112 10.7c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.5 88-8.5 58 8.4 88 8.4v20.6h-352z"
                  fill="url(#c)"/>
            <path d="m-112 12.6c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"
                  fill="url(#a)"/>
        </g>
    </svg>
</div>
