<div class="cookie-consent hidden" id="cookie-consent-banner">
        <div class="d-flex">
            <div class="col flex-fill">
                <h5>
                    We use cookies to give you the best online experience.
                </h5>
                <p>By continuing, you acknowledge that you have read and understood our
                    <a href="/cookie-policy">cookie policy</a>.</p>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary" id="cookie-accept">Continue</button>
                <!--<button class="btn btn-secondary" id="cookie-reject">Decline</button>-->
            </div>
    </div>
</div>
