<div class="cookie-consent hidden" id="cookie-consent-banner">
    <div class="d-flex">
        <div class="col flex-fill">
            <h5>
                {{ settings:cookies_alert_title }}
            </h5>
            {{ settings:cookies_alert_lead }}
        </div>
        <div class="btn-container">
            <button class="btn btn-primary" id="cookie-accept">Continue</button>
            <!--<button class="btn btn-secondary" id="cookie-reject">Decline</button>-->
        </div>
    </div>
</div>
