<div class="floating-icons">
    <!--<svg fill="none"-->
    <!--     xmlns="http://www.w3.org/2000/svg">-->
    <!--    <g fill="#fff">-->
    <!--        <path data-depth="0.2" d="m467 175h-4v6h-6v4h6v6h4v-6h6v-4h-6z"/>-->
    <!--        <path data-depth="0.2" d="m427 269h-6v9h-9v6h9v9h6v-9h9v-6h-9z"/>-->
    <!--        <path data-depth="0.4"-->
    <!--              d="m544 459.2-3.2-3.2-4.8 4.8-4.8-4.8-3.2 3.2 4.8 4.8-4.8 4.8 3.2 3.2 4.8-4.8 4.8 4.8 3.2-3.2-4.8-4.8z"/>-->
    <!--        <path data-depth="0.4"-->
    <!--              d="m252 12.8-4.8-4.8-7.2 7.2-7.2-7.2-4.8 4.8 7.2 7.2-7.2 7.2 4.8 4.8 7.2-7.2 7.2 7.2 4.8-4.8-7.2-7.2z"/>-->
    <!--        <path data-depth="0.6" d="m141 354 12 12-12 12-12-12z"/>-->
    <!--        <path data-depth="0.6" d="m580 333 8 8-8 8-8-8z"/>-->
    <!--        <path data-depth="0.8" clip-rule="evenodd"-->
    <!--              d="m129 185c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0 6c6.627 0 12-5.373 12-12s-5.373-12-12-12-12 5.373-12 12 5.373 12 12 12z"-->
    <!--              fill-rule="evenodd"/>-->
    <!--        <path data-depth="0.8" clip-rule="evenodd"-->
    <!--              d="m504 345c2.209 0 4-1.791 4-4s-1.791-4-4-4-4 1.791-4 4 1.791 4 4 4zm0 4c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"-->
    <!--              fill-rule="evenodd"/>-->
    <!--        <circle data-depth="0.2" cx="348" cy="135" r="12"/>-->
    <!--        <circle data-depth="0.2" cx="8" cy="480" r="8"/>-->
    <!--        <path data-depth="0.4" d="m299 466.2h-24l12-19.2z"/>-->
    <!--        <path data-depth="0.4" d="m236 286.8h-16l8-12.8z"/>-->
    <!--        <path data-depth="0.6" d="m512 0h16v16h-16z"/>-->
    <!--        <path data-depth="0.6" d="m368 485h24v24h-24z"/>-->
    <!--    </g>-->
    <!--</svg>-->


    <!--<svg fill="none" height="415" viewBox="0 0 872 415" width="872" xmlns="http://www.w3.org/2000/svg">-->
    <!--    <g fill="#fff">-->
    <!--        <path data-depth="0.2" d="m733 276h-4v6h-6v4h6v6h4v-6h6v-4h-6z"/>-->
    <!--        <path data-depth="0.2" d="m531 296h-6v9h-9v6h9v9h6v-9h9v-6h-9z"/>-->
    <!--        <path data-depth="0.6"-->
    <!--              d="m544 349.2-3.2-3.2-4.8 4.8-4.8-4.8-3.2 3.2 4.8 4.8-4.8 4.8 3.2 3.2 4.8-4.8 4.8 4.8 3.2-3.2-4.8-4.8z"/>-->
    <!--        <path data-depth="0.6" d="m146 296 12 12-12 12-12-12z"/>-->
    <!--        <path data-depth="0.8" d="m864 284 8 8-8 8-8-8z"/>-->
    <!--        <path data-depth="1" clip-rule="evenodd"-->
    <!--              d="m444 272c2.209 0 4-1.791 4-4s-1.791-4-4-4-4 1.791-4 4 1.791 4 4 4zm0 4c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"-->
    <!--              fill-rule="evenodd"/>-->
    <!--        <circle data-depth="0.2" cx="341" cy="12" r="12"/>-->
    <!--        <circle data-depth="0.2" cx="8" cy="370" r="8"/>-->
    <!--        <path data-depth="0.6" d="m309 169.2h-24l12-19.2z"/>-->
    <!--        <path data-depth="0.6" d="m428 96.8h-16l8-12.8z"/>-->
    <!--        <path data-depth="0.8" d="m678 399h16v16h-16z"/>-->
    <!--        <path data-depth="1" d="m330 354h24v24h-24z"/>-->
    <!--    </g>-->
    <!--</svg>-->

    <svg enable-background="new 0 0 872 415" viewBox="0 0 872 415" xmlns="http://www.w3.org/2000/svg">
        <g fill="#fff">
            <path data-depth="0.2" d="m733 276h-4v6h-6v4h6v6h4v-6h6v-4h-6z"/>
            <path data-depth="0.2" d="m531 296h-6v9h-9v6h9v9h6v-9h9v-6h-9z"/>
            <path data-depth="0.4" d="m544 349.2-3.2-3.2-4.8 4.8-4.8-4.8-3.2 3.2 4.8 4.8-4.8 4.8 3.2 3.2 4.8-4.8 4.8 4.8 3.2-3.2-4.8-4.8z"/>
            <path data-depth="0.4" d="m146 296 12 12-12 12-12-12z"/>
            <path data-depth="0.6" d="m864 284 8 8-8 8-8-8z"/>
            <path data-depth="0.7" clip-rule="evenodd"
                  d="m444 272c2.2 0 4-1.8 4-4s-1.8-4-4-4-4 1.8-4 4 1.8 4 4 4zm0 4c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8z"
                  fill-rule="evenodd"/>
            <circle data-depth="0.3" cx="540" cy="129.7" r="12"/>
            <circle data-depth="1" cx="8" cy="370" r="8"/>
            <path data-depth="0.2" d="m309 169.2h-24l12-19.2z"/>
            <path data-depth="0.2" d="m428 96.8h-16l8-12.8z"/>
            <path data-depth="0.4" d="m678 399h16v16h-16z"/>
            <path data-depth="0.4" d="m330 354h24v24h-24z"/>
            <path data-depth="0.6" clip-rule="evenodd"
                  d="m628.9 225.2c2.9 0 5.2-2.4 5.2-5.2 0-2.9-2.4-5.2-5.2-5.2s-5.2 2.4-5.2 5.2c0 2.9 2.3 5.2 5.2 5.2zm0 5.3c5.8 0 10.5-4.7 10.5-10.5s-4.7-10.5-10.5-10.5-10.5 4.7-10.5 10.5 4.7 10.5 10.5 10.5z"
                  fill-rule="evenodd"/>
            <path data-depth="0.3" d="m808.5 151.6h-4v6h-6v4h6v6h4v-6h6v-4h-6z"/>
            <path data-depth="0.7" d="m694 70.6h12v12h-12z"/>
            <path data-depth="0.4" d="m849.8 3.9-3.9-3.9-5.9 5.9-5.9-5.9-3.9 3.9 5.9 5.9-5.9 5.9 3.9 3.9 5.9-5.9 5.9 5.9 3.9-3.9-5.9-5.9z"/>
            <path data-depth="0.2" d="m611 28.4 8 8-8 8-8-8z"/>
        </g>
    </svg>
</div>
