<header id="main-header" class="main-header top">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ settings:logo }}" alt="">
            </a>
            <button class="navbar-toggler collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{ nav:main_nav }}
                        {{ if children }}
                            <li class="nav-item dropdown {{ if is_current || is_parent }}current{{ /if }}">
                                <a href="{{ url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ title }}</a>
                                <ul class="dropdown-menu">
                                    {{ children }}
                                        <li>
                                            <a href="{{ url }}"
                                               class="dropdown-item {{ if is_current }}current{{ /if }}"
                                                {{ if is_external }} target="_blank "{{ /if }}
                                            >
                                                {{ title }}
                                            </a>
                                        </li>
                                    {{ /children }}
                                </ul>
                            </li>
                        {{ else }}
                            <li class="nav-item {{ if is_current  }}current{{ /if }}">
                                <a href="{{ url }}"
                                   class="nav-link"
                                    {{ if is_external }} target="_blank "{{ /if }}
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /if }}
                    {{ /nav:main_nav }}
                </ul>
                <ul class="navbar-nav">
                    <!-- Language -->
                    {{ if current_uri | segment(1) == 'documentation' }}
                    <li class="nav-item dropdown dropdown-language">
                        <a href="{{ url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            {{ locale == 'default' ? 'EN' : locale }}
                        </a>
                        <ul class="dropdown-menu">
                            {{ locales self="false" }}
                            <li><a href="{{ locale:url }}/{{ current_uri | segment(1) }}/{{ slug }}" class="dropdown-item">{{ locale:name }}</a></li>
                            {{ /locales }}
                        </ul>
                    </li>
                    {{ /if }}
                </ul>

                {{ locale:full }}
            </div>
        </div>
    </nav>
</header>
