<header id="main-header" class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ settings:logo }}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{ nav:main_nav }}
                        {{ if children }}
                            <li class="nav-item dropdown">
                                <a href="{{ url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ title }}</a>
                                <ul class="dropdown-menu">
                                    {{ children }}
                                        <li>
                                            <a href="{{ url }}" class="dropdown-item">{{ title }}</a>
                                        </li>
                                    {{ /children }}
                                </ul>
                            </li>
                        {{ else }}
                            <li class="nav-item">
                                <a href="{{ url }}" class="nav-link">{{ title }}</a>
                            </li>
                        {{ /if }}

                    {{ /nav:main_nav }}
                </ul>
            </div>
        </div>
    </nav>
</header>

<header id="sticky-header" class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ settings:logo }}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{ nav:main_nav }}
                    {{ if children }}
                    <li class="nav-item dropdown">
                        <a href="{{ url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ title }}</a>
                        <ul class="dropdown-menu">
                            {{ children }}
                            <li>
                                <a href="{{ url }}" class="dropdown-item">{{ title }}</a>
                            </li>
                            {{ /children }}
                        </ul>
                    </li>
                    {{ else }}
                    <li class="nav-item">
                        <a href="{{ url }}" class="nav-link">{{ title }}</a>
                    </li>
                    {{ /if }}
                    
                    {{ /nav:main_nav }}
                </ul>
            </div>
        </div>
    </nav>
</header>
