<!-- Title -->
{{ if meta_title }}
<meta name="title" content="{{ meta_title }} | {{ settings:site_name }}" />
<meta property="og:title" content="{{ meta_title }} | {{ settings:site_name }}" />
<meta property="twitter:title" content="{{ meta_title }} | {{ settings:site_name }}" />
<title>{{ meta_title }} | {{ settings:site_name }}</title>
{{ else }}
<meta name="title" content="{{ title }} | {{ settings:site_name }}" />
<meta property="og:title" content="{{ title }} | {{ settings:site_name }}" />
<meta property="twitter:title" content="{{ title }} | {{ settings:site_name }}" />
<title>{{ yield:page-title ?? title | ucfirst }} | {{ settings:site_name }}</title>
{{ endif }}

<!-- description -->
{{ if meta_description }}
<meta name="description" content="{{ meta_description }}" />
<meta property="og:description" content="{{ meta_description }}" />
<meta property="twitter:description" content="{{ meta_description }}" />
{{ elseif intro }}
<meta name="description" content="{{ intro }}" />
<meta property="og:description" content="{{ intro }}" />
<meta property="twitter:description" content="{{ intro }}" />
{{ else }}
<meta name="description" content="{{ social_media:default_description }}" />
<meta property="og:description" content="{{ social_media:default_description }}" />
<meta property="twitter:description" content="{{ social_media:default_description }}" />
{{ endif }}

<!-- meta image -->
{{ if meta_image }}
<meta property="og:image" content="{{ glide:meta_image absolute='true' width='1500' format='jpg' }}" />
<meta property="twitter:image" content="{{ glide:meta_image absolute='true' width='1500' format='jpg' }}" />
<!-- <meta property="og:image" content="{{ link to='{meta_image:0}' absolute='true' }}" />
<meta property="twitter:image" content="{{ link to='{meta_image:0}' absolute='true' }}" /> -->
{{ elseif hero_image }}
<!-- <meta property="og:image" content="{{ link to='{hero_image}' absolute='true' }}" />
<meta property="twitter:image" content="{{ link to='{hero_image}' absolute='true' }}" /> -->
<meta property="og:image" content="{{ glide:hero_image absolute='true' width='1500' format='jpg'}}" />
<meta property="twitter:image" content="{{ glide:hero_image absolute='true' width='1500' format='jpg'}}" />
{{ else }}
<meta property="og:image" content="{{glide:social_media:default_share_image absolute='true' width='1500' format='jpg'}}" />
<meta property="twitter:image" content="{{ glide:social_media:default_share_image absolute='true' width='1500' format='jpg'}}" />
{{ endif }}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_full_url }}" />


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ current_full_url }}" />
