<div class="container">
    <div class="d-lg-none tutorial-side-menu-header">
        <div>
            <button class="btn back-to-menu-button">
                Back to main menu
            </button>
        </div>
        <div class="close-button-container">
            <button class="close-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    
    <div class="tutorial-side-menu">
        {{ nav:collection:tutorials paginate="false" }}
        <div class="nav flex-column">
            {{ if depth == 1 }}
            <div class="nav-item">
                <a
                        {{ if children }}
                        class="nav-link collapse-link collapsed {{ if is_current || is_parent }} current {{ /if }}"
                        data-bs-toggle="collapse" data-bs-target="#tutorial-menu-item-{{ index }}"
                        href="#"
                        {{ else }}
                        class="nav-link {{ if is_current }} current {{ /if }}  {{ if index==0 }}{{ if page:mount != null }} current {{ /if }}{{ /if }}"
                        href="{{ url }}"
                        {{ endif }}
                >{{ title }}</a>
            </div>
            
            {{ if children }}
            <div id="tutorial-menu-item-{{ index }}" class="collapse {{ if is_current || is_parent }} show {{ /if }}">
                {{ *recursive children* }}
            </div>
            {{ /if }}
            
            {{ elseif depth == 2 }}
            <div class="nav-item">
                {{ if children }}
                <span class="nav-link {{ if is_current }} current {{ /if }}" href="{{ url }}">{{ title }}</span>
                {{ *recursive children* }}
                {{ else }}
                <a class="nav-link {{ if is_current }} current {{ /if }}" href="{{ url }}">{{ title }}</a>
                {{ endif }}
            </div>
            
            {{ elseif depth == 3 }}
            <div class="nav-item">
                <a class="nav-link {{ if is_current }} current {{ /if }}" href="{{ url }}">{{ title }}</a>
            </div>
            {{ /if }}
        </div>
        {{ /nav:collection:tutorials }}
        <div class="download-btn-container">
            <a href="/{{ segment_1 }}/download" target="_blank" class="btn btn-primary btn-small">Download</a>
        </div>
    </div>
</div>
