/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/content/collections/pages/
/public/js/
/public/css/
/content/navigation/
/content/trees/navigation/
/content/trees/collections/
/content/globals/
/content/collections/articles/
/content/taxonomies/categories/
/content/collections/staffs/
.idea/*
public/mix-manifest.json
/content/trees/collections/
/public/js/site.js
/public/assets/*
public/js/site.js
