/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/public/js/
/public/css/
/content/navigation/
/content/trees/navigation/
/content/trees/collections/
/content/globals/
/content/taxonomies/categories/
.idea/*
public/mix-manifest.json
/public/js/site.js
/public/assets/*
public/js/site.js
storage/forms/*
public/fonts/GT*
/content/
package-lock.json
/.elasticbeanstalk/config.yml
