.sets.features {
    margin-top: 62px;
    margin-bottom: 60px;

    .row {
        --bs-gutter-x: 30px;
    }

    .heading {
        margin-bottom: 70px;
    }

    .feature {
        text-align: center;
        margin-bottom: 70px;

        .image {
            margin-bottom: 20px;

            img {
                max-width: 135px;
            }

            &.full-width {
                max-width: 100%;
            }
        }

        .title {
            margin-bottom: 20px;
        }
    }
}
