.sets.featured-publication {
    padding-top: 50px;
    padding-bottom: 50px;

    .heading {
        margin-bottom: 20px;
    }

    .publication {
        border-radius: 8px;
        border: 1px solid $color-gray-light;
        overflow: hidden;
        background: #FFF;
        margin-bottom: 40px;

        &:last-child{
            margin-bottom: 0;
        }

        .thumbnail {
            min-width: 240px;
            max-width: 240px;
            border-radius: 0;
            position: relative;
            background-color: $color-blue-light-2;
            a {
                display: block;
                overflow: hidden;
                height: 100%;
                border-radius: 0;
                .img-container{
                    padding-bottom: 65%;
                    height: 100%;
                    display: block;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: 0.3s all ease-in-out;
                }
            }
        }

        &.external {
            .thumbnail {
                a {
                    &:before {
                        content: '';
                        background-image: url('/images/icon/external-link.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: rgba($color-black-text, 0.7);
                        border-radius: 50%;
                        border: 1px solid $color-white;
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        z-index: 5;
                        left: 20px;
                        top: 20px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        &:before {
                            background-color: $color-coral;
                            border-color: $color-coral;
                        }
                    }
                }
            }
        }

        .content {
            padding: 25px 30px;
            margin-bottom: 0!important;
        }

        .meta {
            margin-bottom: 10px;
            font-size: 14px;

            .external-source {
                font-weight: 500;
                //color: $color-coral;
            }

            .external-source-separator {
                margin: 0 5px;
            }

            .category {
                font-weight: 500;
                //color: $color-coral;
            }

            .published-date {

            }
        }

        .title {
            color: $color-black-text;
            font-weight: 500;
            max-height: 90px;
            overflow: hidden;

            a {
                color: $color-black-text;
                text-decoration: none;
                background-image: linear-gradient(to right, rgba($color-coral, 0) 0%, rgba($color-coral, 0) 0%);
                background-position: 0 100%;
                background-size: 0 2px;
                position: relative;
                background-repeat: no-repeat;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-size: 100% 2px;
                    background-image: linear-gradient(to right, $color-coral 0%, $color-coral 0%);
                }
            }
        }

        &.hover {
            &.external {
                .thumbnail {
                    a:before {
                        background-color: $color-coral;
                        border-color: $color-coral;
                    }
                }
            }

            .thumbnail {
                a {
                    .img-container {
                        transform: scale(1.04);
                    }
                    //img {
                    //transform: scale(1.04);
                    //}
                }
            }

            .title {
                a {
                    background-size: 100% 2px;
                    background-image: linear-gradient(to right, $color-coral 0%, $color-coral 0%);
                }
            }
        }

        @include media-breakpoint-down(md) {
            .thumbnail {
                max-width: 100%;
                width: 100%;
            }
            .d-flex {
                flex-direction: column;
            }

            .content {
                padding: 20px 20px;

                .title {
                    margin-bottom: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}
