.image-galleries, .image-gallery {
    margin-top: 40px;
    margin-bottom: 40px;

    .filter-container {
        margin-bottom: 40px;
    }

    .images-container {
        .image {
            margin-bottom: 30px;
            padding-top: 60%;
            background-size: cover;
            background-position: center;
            transition: all 0.2s ease-in-out;
            border: 1px solid rgba(0,0,0,0.05);

            &:hover {
                cursor: pointer;
                box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
