.sets.image-text {
    padding-top: 50px;
    padding-bottom: 50px;
    p:last-child{
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        img {
            margin-bottom: 30px;
        }
    }
    @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.article-show {
    .sets.image-text {
        padding-top: 40px;
        padding-bottom: 35px;
        .row {
            --bs-gutter-x: 40px;
        }
        img{
            border-radius: 8px;
        }
    }
}

.page-tutorial {
    .sets.image-text {
        padding-top: 40px;
        padding-bottom: 35px;
    }
}
