.image-galleries, .image-gallery {
    margin-top: 40px;
    margin-bottom: 40px;

    .filter-container {
        margin-bottom: 40px;
    }

    .images-container {
        .image {
            margin-bottom: 30px;
            padding-top: 66.66%;
            background-size: cover;
            background-position: center;
            transition: all 0.2s ease-in-out;
            border: 1px solid rgba(0, 0, 0, 0.05);

            &:hover {
                cursor: pointer;
                box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
            }
        }

        a.image {
            display: block;
        }
    }
}

#image-gallery-popup {
    .btn-close {
        position: absolute;
        border-radius: 50%;
        background-color: #FFF;
        top: 20px;
        right: 20px;
        z-index: 2;
        opacity: 1;
        padding: 10px;
        width: 14px;
        height: 14px;
        background-size: 14px;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    }

    .modal-body {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .image {
        text-align: center;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);

        img {
            display: block;
            max-width: 100%;
            margin: auto;
            object-fit: contain;
            width: auto;
            //height: auto;
            height: 85vh;
        }
    }

    .meta {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .title {
            font-weight: bold;
        }

        .caption {

        }

        .copyright {
            font-size: 75%;
        }
    }
}
