.sets.paragraph {
    ol {
        counter-reset: mermaid-counter;
        list-style: none;
        padding-left: 0;

        li {
            counter-increment: mermaid-counter;
            position: relative;
            padding-left: 30px;
            margin-bottom: 28px;

            &:before {
                content: counter(mermaid-counter);
                color: $color-blue;
                font-weight: bold;
                position: absolute;
                left: 0;
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 28px;

            &:before {
                content: '';
                left: 0;
                top: 11px;
                position: absolute;
                border-radius: 50%;
                height: 7px;
                width: 7px;
                background-color: $color-blue;
            }
        }
    }
}


.footnotes {
    .footnote {
        font-size: 16px;
        line-height: 1.75;
        span{
            font-size: 16px;
            line-height: 1.75;
            display: inline-block;
        }
        .index {
            color: $color-coral;
            font-size: 10px;
            display: inline-block;
            margin-top: -10px;
        }
    }
}
