.sets.paragraph {
    padding-top: 35px;
    padding-bottom: 35px;
    ol {
        counter-reset: mermaid-ol-counter;
        list-style: none;
        padding-left: 0;

        & > li {
            counter-increment: mermaid-ol-counter;
            position: relative;
            padding-left: 30px;
            margin-bottom: 28px;

            &:before {
                content: counter(mermaid-ol-counter);
                color: $color-blue;
                font-weight: bold;
                position: absolute;
                left: 0;
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        counter-reset: mermaid-ul-counter;
        & > li {
            counter-increment: mermaid-ul-counter;
            position: relative;
            padding-left: 30px;
            margin-bottom: 28px;

            &:before {
                content: '';
                left: 0;
                top: 11px;
                position: absolute;
                border-radius: 50%;
                height: 7px;
                width: 7px;
                background-color: $color-blue;
            }
        }
    }
    sup{
        font-size: 10px;
    }
    p{
        &:last-child{
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(md){
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


.footnotes {
    .footnote {
        font-size: 16px;
        line-height: 1.75;
        span{
            font-size: 16px;
            line-height: 1.75;
        }
        .index {
            color: $color-coral;
            font-size: 10px;
        }
    }
}
