.sets.slideshow{
    padding-top: 60px;
    padding-bottom: 60px;

    .caption{
        margin-top: 10px;
    }
    .slick-arrow{
        &.slick-prev{
            left: -64px;
        }
        &.slick-next{
            right: -64px;
        }
    }

    @include media-breakpoint-down(xl){
        .slick-arrow{
            &.slick-prev{
                left: -27px;
            }
            &.slick-next{
                right: -27px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
        padding-bottom: 25px;
    }
}
