.sets.testimonials {
    padding-top: 50px;
    padding-bottom: 50px;

    .slick-testimonials{
        .slick-dots{
            text-align: left;
        }
    }

    .testimonial {
        padding-top: 60px;
        padding-left: 70px;
        padding-right: 70px;

        .avatar {
            position: relative;
            text-align: center;
            max-height: 300px;

            img {
                margin-left: auto;
                margin-right: auto;
                max-height: 300px;
                max-width: 100%;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                max-width: 300px;
                max-height: 300px;
                border-radius: 50%;
                background-color: $color-purple-light;
                z-index: -1;
            }
        }

        .text {
            max-width: 680px;

            &:before {
                content: '';
                background-image: url("/images/icon/double-quote.svg");
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                width: 60px;
                height: 45px;
                top: -60px;
                left: -100px;
            }
        }

        .intro-large {
            font-size: 24px;
            line-height: 34px;
            font-weight: 500;

            &:before {
                border: none;
            }

            margin-bottom: 60px;
        }

        .name {
            font-size: 24px;
            line-height: 34px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;

            .avatar {
                //max-height: 250px;
                margin-bottom: 20px;

                img {
                    //max-width: 250px;
                    max-width: 180px;
                    max-height: 180px;
                    margin-left: 0;
                }

                &:before {
                    //max-width: 250px;
                    //max-height: 250px;
                    max-width: 180px;
                    max-height: 180px;
                }
            }
            .text {
                .intro-large {
                    margin-bottom: 15px;
                    p {
                        margin-bottom: 15px;
                    }
                }
            }
            .name {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            .avatar {
                img {
                    max-width: 120px;
                    max-height: 120px;
                    margin-left: 0;
                }

                &:before {
                    max-width: 120px;
                    max-height: 120px;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 35px;
        padding-bottom: 35px;
        .testimonial {
            padding-top: 20px
        }
    }
}
