.article-list{
    .article{
        .card-img-top{
            padding-top: 66.66%;
            background-color: #EEEEEE;
            background-size: cover;
            background-position: center;
        }
    }
}
