.page-home {
    .main-header {
        .navbar-brand {
            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .hero-banner {
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-position: center;

        .hero-content-container {
            margin-top: auto;
            margin-bottom: auto;
            padding-top: 114px;
            width: 100%;

            .hero-content {
                max-width: 650px;

                .scroll-button {
                    transition: 0.3s all ease-in-out;
                    margin-top: 55px;

                    .scroll-wheel {
                        animation-duration: 1.5s;
                        animation-iteration-count: infinite;
                        animation-name: scroll;

                        @keyframes scroll {
                            0% {
                                opacity: 1
                            }
                            100% {
                                opacity: 0;
                                transform: translateY(16px)
                            }
                        }
                    }
                }
            }
        }

        .floating-icons {
            top: 0;
            right: 0;
            width: 50%;
        }

        .separator {
            margin-top: auto;
            width: 100%;
            margin-bottom: -2px;
        }

        .separator-animated {
            z-index: 2;

            svg {
                g.parallax {
                    path {
                        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;

                        &:nth-child(1) {
                            animation-delay: -2s;
                            animation-duration: 4s;
                        }

                        &:nth-child(2) {
                            animation-delay: -3s;
                            animation-duration: 8s;
                        }

                        &:nth-child(3) {
                            animation-delay: -4s;
                            animation-duration: 12s;
                        }
                    }
                }
            }
        }
    }

    .section.intro {
        padding-bottom: 70px;

        .content-container {
            max-width: 785px;
            margin-left: auto;
            margin-right: auto;

            .intro-large {
                margin-bottom: 35px;
            }
        }
    }

    .section.principles {
        position: relative;
        padding-bottom: 0;
        padding-top: 135px;

        .floating-icons {
            right: 0;
            top: 0;
            width: 60%;
        }

        .img-bg {
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            bottom: 240px;
            z-index: -1;
        }

        .intro-container {
            padding-left: 40px;
            max-width: 540px;

            .intro-medium {
                margin-bottom: 10px;
            }
        }

        .principle-container {
            margin-top: 160px;
            border-radius: 24px;
            background-color: $color-white;
            text-align: center;
            padding: 80px 40px;

            .title {
                margin-bottom: 50px;
            }

            .principle {
                h3 {
                    margin-bottom: 20px;
                }

                img {
                    max-width: 200px;
                }
            }
        }
    }

    .section.numbers {
        padding-top: 0;
        padding-bottom: 0;

        .number-container {
            h3 {
                text-align: center;
                margin-bottom: 40px;
            }

            .number {
                font-size: 72px;
                letter-spacing: 5px;
                text-align: center;
                color: $color-blue;
                position: relative;

                &:before {
                    content: '';
                    background-color: $color-purple-light;
                    z-index: -1;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .label {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 3px;
                text-align: center;
                text-transform: uppercase;
                color: $color-blue;
            }

            hr {
                margin-top: 80px;
                border-color: $color-blue-light;
                margin-bottom: 0;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
            }
        }
    }

    .section.features {
        .feature {
            h2 {
                margin-bottom: 30px;
            }

            .description {
                max-width: 500px;
            }

            .btn {
                margin-top: 15px;
                margin-bottom: 40px;
            }

            .img-container {
                img {
                    filter: drop-shadow(0px 8px 36px rgba(0, 0, 0, 0.15));
                    width: 100%;
                }
            }
        }
    }

    .section.stories {
        background-color: $color-blue-light;
        margin-bottom: 300px;

        .view-more {
            font-size: 17px;
            //line-height: 19px;
            line-height: 34px;
            color: $color-black-text;
            text-decoration: none;
            margin-top: 5px;
            display: inline-block;
            overflow: hidden;

            span {
                display: inline-block;
                backface-visibility: hidden;
                transition: transform .3s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
            }

            .label {
                transform: translateX(40px);
            }

            .arrow {
                width: 25px;
                transform: translateX(40px);

                img {
                    max-width: 25px;
                }

                &.before {
                    opacity: 1;
                    margin-right: 15px;
                }

                &.after {
                    opacity: 0;
                    margin-left: 15px;
                }
            }

            &:hover {
                .label {
                    transform: translateX(0);
                }

                .arrow {
                    transform: translateX(0);

                    &.before {
                        opacity: 0;
                    }

                    &.after {
                        opacity: 1;
                    }
                }
            }
        }

        h3 {
            margin-bottom: 5px;
        }

        .story {
            border-bottom: 1px solid $color-blue-light-2;
            padding-bottom: 25px;
            padding-top: 30px;

            .thumbnail {
                border-radius: 16px;
                margin-bottom: 30px;
                overflow: hidden;
            }

            .meta {
                margin-bottom: 10px;
                font-size: 14px;

                .external-source {
                    font-weight: 500;
                    //color: $color-coral;
                }

                .external-source-separator {
                    margin: 0 5px;
                }

                .category {
                    font-weight: 500;
                    //color: $color-coral;
                }

                .published-date {

                }
            }

            .title {
                color: $color-black-text;
                font-weight: 500;

                a {
                    color: $color-black-text;
                    text-decoration: none;
                    background-image: linear-gradient(to right, rgba($color-coral, 0) 0%, rgba($color-coral, 0) 0%);
                    background-position: 0 100%;
                    background-size: 0% 2px;
                    position: relative;
                    background-repeat: no-repeat;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-size: 100% 2px;
                        background-image: linear-gradient(to right, $color-coral 0%, $color-coral 0%);
                    }
                }
            }

            &.featured {
                border-bottom: 0;

                .meta {
                    margin-bottom: 15px;
                }

                .title {
                    font-size: 36px;
                    line-height: 48px;
                    margin-bottom: 25px;
                }
            }
        }

        .subscribe {
            position: relative;
            //box-shadow: 0px 10px 80px rgba(52, 65, 79, 0.2);
            filter: drop-shadow(0px 10px 80px rgba(52, 65, 79, 0.2));
            padding: 135px 60px 135px 60px;
            margin-bottom: -300px;
            margin-top: 60px;

            .bg-container {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                border-radius: 16px;
                overflow: hidden;

                /* SVG masking */
                mask: url('/images/subscribe-mask.svg');
                mask-size: cover;
                mask-position: center bottom;
                mask-repeat: no-repeat;
            }

            .bg-image {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                border-radius: 16px;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                z-index: 0;
            }

            .bg-gradient {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                border-radius: 16px;
                overflow: hidden;
                background: linear-gradient(90deg, rgba(4, 46, 90, 0.5) 26%, rgba(0, 0, 0, 0) 68%) !important;
                z-index: 1;
            }

            .wave {
                display: none;
                margin-top: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 2;
            }

            .shadow {
                flex-grow: 2;
                width: 100%;
                box-shadow: 0px 10px 80px rgba(52, 65, 79, 0.2) !important;
            }

            .row {
                position: relative;
                z-index: 3;
            }

            .content {
                max-width: 400px;
                color: $color-white;
                z-index: 2;

                h2 {
                    color: $color-white;
                    margin-bottom: 15px;
                }

                .intro-medium {
                    margin-bottom: 30px;
                }

                p {
                    color: $color-white;
                }

                a:not(.btn) {
                    color: $color-white;
                    text-decoration: none;
                    position: relative;
                    transition: 0.2s all ease-in-out;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        width: 100%;
                        transition: 0.2s all ease-in-out;
                        height: 1px;
                        background-color: rgba($color-white, 0.5);;
                    }

                    &:hover {
                        &:after {
                            height: 2px;
                            background-color: rgba($color-white, 0.5);;
                        }
                    }
                }
            }

            @include media-breakpoint-down(md) {
                max-width: calc(100vw - 40px);
                margin-left: 20px;
                margin-right: 20px;

                padding: 60px 20px
            }
        }

        @include media-breakpoint-down(md) {
        }
    }

    .section.testimonials {
        padding-top: 20px;
        margin-top: 0;
        margin-bottom: 0;

        .testimonial {
            padding-top: 60px;
            padding-left: 70px;
            padding-right: 70px;

            .avatar {
                position: relative;
                text-align: center;
                max-height: 300px;

                img {
                    margin-left: auto;
                    margin-right: auto;
                    max-height: 300px;
                    max-width: 100%;
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    background-color: $color-purple-light;
                    z-index: -1;
                }
            }

            .text {
                max-width: 680px;

                &:before {
                    content: '';
                    background-image: url("/images/icon/double-quote.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 60px;
                    height: 45px;
                    top: -60px;
                    left: -100px;
                }
            }

            .intro-large {
                font-size: 24px;
                line-height: 34px;
                font-weight: 500;

                &:before {
                    border: none;
                }

                margin-bottom: 60px;
            }

            .name {
                font-size: 24px;
                line-height: 34px;
                font-weight: 500;
                margin-bottom: 8px;
            }
        }

        @include media-breakpoint-down(md) {
            .testimonial {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .section.partners {
        padding-top: 20px;

        h3 {
            margin-bottom: 70px;
        }

        .slick-partners {
            padding-left: 30px;
            padding-right: 30px;
            .slick-track{
                display: flex;
            }
            .slick-slide{
                margin-bottom: auto;
                margin-top: auto;
                & > div{
                    display: flex;
                    .partner{
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }

        .partner {
            text-align: center;
            display: block;
            a {
                display: block;

                img {
                    max-width: 100%;
                    max-height: 80px;
                    filter: grayscale(100%);
                    transition: 0.3s all ease-in-out;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }

                &:hover {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }

        @include media-breakpoint-up(xxl) {
            .container {
                //max-width: 1200px;
            }
        }
        @include media-breakpoint-down(md) {
            .slick-partners {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
