.page-generic-container {
    padding-top: 170px;

    h1.main-title {
        margin-bottom: 95px;
    }

    .animated-header {
        //z-index: 2;
        height: 21%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 165px;

        svg {
            g.parallax {
                path {
                    animation: move-forever 80s cubic-bezier(.55, .5, .45, .5) infinite;

                    &:nth-child(1) {
                        animation-delay: -2s;
                        animation-duration: 8s;
                    }

                    &:nth-child(2) {
                        animation-delay: -4s;
                        animation-duration: 16s;
                    }

                    &:nth-child(3) {
                        animation-delay: -8s;
                        animation-duration: 32s;
                    }
                }
            }
        }
    }

}
