.page-generic-container {
    padding-top: 280px;

    h1.main-title {
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    .intro.intro-large{
        margin-top: 50px;
        margin-bottom: 0;
    }

    .animated-header {
        //z-index: 2;
        height: 21%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 165px;

        svg {
            g.parallax {
                path {
                    animation: move-forever 80s cubic-bezier(.55, .5, .45, .5) infinite;

                    &:nth-child(1) {
                        animation-delay: -2s;
                        animation-duration: 8s;
                    }

                    &:nth-child(2) {
                        animation-delay: -4s;
                        animation-duration: 16s;
                    }

                    &:nth-child(3) {
                        animation-delay: -8s;
                        animation-duration: 32s;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md){
        padding-top: 220px;
        h1.main-title {
            margin-bottom: 0;
            padding-bottom: 30px;
        }

        .intro.intro-large{
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}
