.badge {
    border-radius: 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding: 4px 15px;
    margin-right: 5px;
    margin-bottom: 5px;

    &.feature {
        color: $color-blue;
        background-color: $color-blue-light-3;
    }

    &.bug {
        color: $color-coral;
        background-color: #FFEDEB;
    }

    &.feature-item {
        color: $color-purple;
        background-color: #DDD7FA;
    }
}
