footer.main-footer {
    color: rgba($color-white, 0.6);

    .content-container {
        background-color: $color-blue-dark-2;
        padding-bottom: 100px;
        padding-top: 40px;
    }

    .logo {
        height: 54px;
        margin-bottom: 80px;
        filter: brightness(0) invert(1);
    }

    p {
        color: rgba($color-white, 0.6);
    }

    h3 {
        color: $color-white;
    }

    .subscribe {
        a:not(.btn) {
            transition: 0.3s all ease-in-out;
            color: rgba($color-white, 0.6);
            text-decoration: none;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 1px;
                background-color: rgba($color-white, 0.5);
            }

            &:hover {
                &:after {
                    height: 2px;
                    background-color: rgba($color-white, 0.5);;
                }
            }
        }

        .btn {
            //margin-top: 15px;
        }
        @include media-breakpoint-down(md){
            margin-bottom: 40px;
        }
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .nav-item {
            width: 50%;
            margin-bottom: 2px;
            padding-right: 5px;
            a {
                color: rgba($color-white, 0.6);
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: $color-white;
                }
            }
        }
    }

    .social-media {
        display: flex;
        margin-bottom: 100px;
        flex-wrap: wrap;

        .label {
            margin-right: 20px;
            margin-top: 9px;
        }

        .icons {
            display: flex;
            flex-wrap: wrap;

            .icon {
                margin-left: 12px;
                margin-right: 12px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    opacity: 0.5;
                    transition: 0.2s all ease-in-out;
                    display: block;
                    width: 18px;
                    height: 18px;

                    &:hover {
                        opacity: 1;
                    }
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    //width: 18px;
                    //height: 18px;
                    //max-width: 18px;
                    //max-height: 18px;
                    vertical-align: bottom;
                }
            }
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
            .label{
                margin-top: 5px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        font-size: 12px;
        .content-container {
            padding-bottom: 40px;
        }
    }
}
