$color-blue-dark: #174B82;
$color-blue-dark-2: #063567;
$color-blue: #2970BB;
$color-blue-light: #ECF4FD;
$color-blue-light-2: #C2E1FF;
$color-blue-text: #53687D;

$color-purple-light: #F3F1FD;

$color-coral: #FE472F;
$color-coral-dark: #DD3E0C;

$color-black-text: #363E47;

$color-white: #FFFFFF;

$font-family: 'GT Walsheim Pro', sans-serif;
