.row{
    --bs-gutter-x: 80px;
}
.section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.transparent-menu{
    margin-top: -114px;
}

.bg-blue-dark{
    background-color: $color-blue-dark;
}

.bg-blue-dark-2{
    background-color: $color-blue-dark-2;
}


@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
