.row{
    --bs-gutter-x: 80px;
}
.section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.transparent-menu{
    margin-top: -114px;
}

.bg-blue-dark{
    background-color: $color-blue-dark;
}

.bg-blue-dark-2{
    background-color: $color-blue-dark-2;
}
