<h3>{{ left_title }}</h3>
<div class="hero-image mb-4">
    {{ glide:left_image width="300" format="webp" }}
    <img class="img-fluid w-100" src="{{ url }}" alt="{{ alt }}">
    {{ /glide:left_image }}
</div>
{{ left_button_label }}<br/>
{{ left_button_url }}<br/>

<h3>{{ right_title }}</h3>
<div class="hero-image mb-4">
    {{ glide:right_image width="300" format="webp" }}
    <img class="img-fluid w-100" src="{{ url }}" alt="{{ alt }}">
    {{ /glide:right_image }}
</div>
{{ right_button_label }}<br/>
{{ right_button_url }}<br/>
