<section class="section partners">
    <div class="container">
        <h3 class="text-center">
            {{ heading }}
        </h3>
        {{ group }}
            <div class="partners-slide slick-partners">
                {{ users }}
                    <div class="partner">
                        <a href="{{ url }}" target="_blank">
                            {{ glide:logo width="300" format="webp" }}
                            <img class="img-fluid" src="{{ url }}" alt="{{ alt }}">
                            {{ /glide:logo }}
                        </a>
                    </div>
                {{ /users }}
            </div>
        {{ /group }}
    </div>
</section>
