<div>
    <div>
        <h4>Collect</h4>
        {{ collect_heading }}<br/>
        {{ collect_lead }}<br/>
        {{ collect_button_label }}<br/>
        {{ collect_button_url }}<br/>
        {{ glide:collect_image width="200" format="webp" }}
        <img class="img-fluid" src="{{ url }}" alt="{{ alt }}">
        {{ /glide:collect_image }}
    </div>
    <div>
        <h4>Dashboard</h4>
        {{ dashboard_heading }}<br/>
        {{ dashboard_lead }}<br/>
        {{ dashboard_button_label }}<br/>
        {{ dashboard_button_url }}<br/>
        {{ glide:dashboard_image width="200" format="webp" }}
        <img class="img-fluid" src="{{ url }}" alt="{{ alt }}">
        {{ /glide:dashboard_image }}
    </div>
</div>
