<section class="section stories">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Reef stories</h3>
            </div>
            <div class="col text-end">
                <a href="{{ url }}" class="view-more">
                        <span class="arrow before">
                            <img src="/images/icon/arrow.svg" alt="">
                        </span>
                    <span class="label">View all</span>
                    <span class="arrow after">
                            <img src="/images/icon/arrow.svg" alt="">
                        </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" data-aos="fade-up">
                <div class="story featured">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-fluid" src="/images/static/article-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="meta">
                        <span class="category">News</span>
                        —
                        <span class="published-date">14 Jun 2021</span>
                    </div>
                    <h4 class="title">
                        <a href="#">
                            Researchers obtain first data from beneath 'Doomsday Glacier
                        </a>
                    </h4>
                    <div class="excerpt">
                        <p>In 2019, we joined the research vessel Barba as part of its Arctic Whale expedition to study the effects of microplastics on Atlantic whale species in the coastal waters…</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="story">
                    <div class="meta">
                        <span class="category">News</span>
                        —
                        <span class="published-date">15 Jun 2021</span>
                    </div>
                    <h4 class="title">
                        <a href="#">
                            Filipino Scientist Goes 10,000 Meters Down the Ocean and Finds a Teddy Bear
                        </a>
                    </h4>
                </div>
                <div class="story">
                    <div class="meta">
                        <span class="category">News</span>
                        —
                        <span class="published-date">15 Jun 2021</span>
                    </div>
                    <h4 class="title">
                        <a href="#">
                            Activists and scientists demand political support for Europe's first wild river national park
                        </a>
                    </h4>
                </div>
                <div class="story">
                    <div class="meta">
                        <span class="category">News</span>
                        —
                        <span class="published-date">15 Jun 2021</span>
                    </div>
                    <h4 class="title">
                        <a href="#">
                            Methane-Eating Microbes in Ocean Play Important Role in Moderating Earth’s Temperature
                        </a>
                    </h4>
                </div>
                <div class="story">
                    <div class="meta">
                        <span class="category">News</span>
                        —
                        <span class="published-date">15 Jun 2021</span>
                    </div>
                    <h4 class="title">
                        <a href="#">
                            Mayflower 400: First Crewless Ship Run By AI To Sail Across The Atlantic
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container subscribe" data-aos="fade-up">
        <div class="bg-container">
            <div class="bg-image" style="background-image: url('/images/static/banner.jpg');"></div>
            <div class="bg-gradient"></div>
            &lt;!&ndash;
            <div class="wave">
                <img src="/images/subscribe-waves.svg" alt="">
            </div> &ndash;&gt;
        </div>
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2>Subscribe to Mermaid Mail</h2>
                    <div class="intro-medium">
                        <p>Get quarterly updates from us.
                            <br>
                            Read our <a href="#">Privacy policy</a>.
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
