<section class="section stories">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Reef Stories</h3>
            </div>
            <div class="col-6">
                <a href="{{ url }}" class="view-more">
                    <span class="arrow before">
                        <img src="/images/icon/arrow.svg" alt="">
                    </span>
                    <span class="label">View all</span>
                    <span class="arrow after">
                        <img src="/images/icon/arrow.svg" alt="">
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" data-aos="fade-up">
                {{ collection:articles sort="publish_date:desc" limit="1"  }}
                <div class="story featured">
                    <div class="thumbnail">
                        <a
                                {{ if external }}
                                href="{{ external_link }}" target="_blank"
                                {{ else }}
                                href="{{ link to='{url}' }}"
                                {{ endif }}
                        >
                            <span class="img-container"
                                  style="background-image: url({{ glide:hero_image width="1000" format="webp" }})"
                            ></span>
                        </a>
                    </div>
                    <div class="meta">
                        {{ if external }}
                        <span class="external-source">
                                {{ external_resource }}
                            </span>
                        <img class="external-source-separator" src="/images/icon/slash-breadcrumbs.svg" alt="">
                        {{ /if }}
                        
                        {{ if categories }}
                        <span class="category">
                            {{ categories }}
                            {{ title }}
                            {{ /categories }}
                            </span>
                        —
                        {{ /if }}
                        <span class="published-date">
                                {{ publish_date format="d M Y" }}
                            </span>
                    </div>
                    <h4 class="title dotdotdot">
                        <a
                                {{ if external_link }}
                                href="{{ external_link }}" target="_blank"
                                {{ else }}
                                href="{{ link to='{url}' }}"
                                {{ endif }}
                        >
                            {{ title }}
                        </a>
                    </h4>
                    <div class="excerpt">
                        {{ intro }}
                    </div>
                </div>
                {{ /collection:articles }}
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                {{ collection:articles sort="publish_date:desc" limit="4" offset="1" }}
                <div class="story {{ if external }}external{{ /if }}">
                    <div class="meta">
                        {{ if external }}
                        <span class="external-source">
                            {{ external_resource }}
                        </span>
                        <img class="external-source-separator" src="/images/icon/slash-breadcrumbs.svg" alt="">
                        {{ /if }}
                        {{ if categories }}
                        <span class="category">
                            {{ categories }}
                            {{ title }}
                            {{ /categories }}
                        </span>
                        —
                        {{ /if }}
                        <span class="published-date">
                            {{ publish_date format="d M Y" }}
                        </span>
                    </div>
                    <h4 class="title dotdotdot">
                        <a
                                {{ if external_link }}
                                href="{{ external_link }}" target="_blank"
                                {{ else }}
                                href="{{ link to='{url}' }}"
                                {{ endif }}
                        >
                            {{ title }}
                        </a>
                    </h4>
                </div>
                {{ /collection:articles }}
            </div>
        </div>
    </div>
    
    <div class="container subscribe" data-aos="fade-up">
        <div class="bg-container">
            
            <div class="bg-image"
                 style="background-image: url('{{ glide:newsletter:large_image width="1200" format="webp" }}');"></div>
            <div class="bg-gradient"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2>{{ newsletter:title }}</h2>
                    <div class="intro-medium">
                        {{ newsletter:lead }}
                    </div>
                    <a href="{{ newsletter:button_url }}" target="_blank" class="btn btn-primary">
                        {{ newsletter:button_label }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
