<section class="section stories">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Reef stories</h3>
            </div>
            <div class="col text-end">
                <a href="{{ url }}" class="view-more">
                        <span class="arrow before">
                            <img src="/images/icon/arrow.svg" alt="">
                        </span>
                    <span class="label">View all</span>
                    <span class="arrow after">
                            <img src="/images/icon/arrow.svg" alt="">
                        </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" data-aos="fade-up">
                {{ collection:articles limit="1"}}
                    <div class="story featured">
                        <div class="thumbnail">
                            {{ if external_link  }}
                            <a href="{{ external_link }}" target="_blank">
                            {{ else }}
                            <a href="{{ link to='{url}' }}">
                            {{ endif }}
                                {{ glide:hero_image width="600" format="webp" }}
                                    <img class="img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                {{ /glide:hero_image }}
                            </a>
                        </div>
                        <div class="meta">
                            {{ if categories }}
                            <span class="category">
                                {{ categories }}
                                    {{ title }}
                                {{ /categories }}
                            </span>
                            —
                            {{ /if }}
                            <span class="published-date">
                                {{ publish_date format="d M Y" }}
                            </span>
                        </div>
                        <h4 class="title">
                            {{ if external_link  }}
                            <a href="{{ external_link }}" target="_blank">
                            {{ else }}
                            <a href="{{ link to='{url}' }}">
                            {{ endif }}
                                {{ title }}
                            </a>
                        </h4>
                        <div class="excerpt">
                            {{ intro }}
                        </div>
                    </div>
                {{ /collection:articles }}
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                {{ collection:articles limit="4" offset="1"}}
                <div class="story">
                    <div class="meta">
                        {{ if categories }}
                        <span class="category">
                            {{ categories }}{{ if index > 0}}, {{ /if }}{{ title }}{{ /categories }}
                        </span>
                        —
                        {{ /if }}
                        <span class="published-date">
                            {{ publish_date format="d M Y" }}
                        </span>
                    </div>
                    <h4 class="title">
                        {{ if external_link  }}
                        <a href="{{ external_link }}" target="_blank">
                        {{ else }}
                        <a href="{{ link to='{url}' }}">
                        {{ endif }}
                            {{ title }}
                        </a>
                    </h4>
                </div>
                {{ /collection:articles}}
            </div>
        </div>
    </div>
    
    <div class="container subscribe" data-aos="fade-up">
        <div class="bg-container">
            <div class="bg-image" style="background-image: url('/images/static/banner.jpg');"></div>
            <div class="bg-gradient"></div>
            &lt;!&ndash;
            <div class="wave">
                <img src="/images/subscribe-waves.svg" alt="">
            </div> &ndash;&gt;
        </div>
        <div class="row">
            <div class="col">
                <div class="content">
                    <h2>Subscribe to Mermaid Mail</h2>
                    <div class="intro-medium">
                        <p>Get quarterly updates from us.
                            <br>
                            Read our <a href="#">Privacy policy</a>.
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
