<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if environment != 'production' }}
        <meta name="robots" content="noindex,nofollow" />
    {{ /if }}
    {{ yield:captcha_head }}
    
    <title>{{ yield:page-title ?? title | ucfirst }} | {{ settings:site_name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/style.css' }}">
</head>
{{ partial:partials/seo }}
<body class="page-{{ slug }}">
{{ yield:seo_body }}
{{ partial:_header }}

<div id="root">
    {{ template_content }}
</div>

{{ partial:_footer }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>

<script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>
