<div class="article-list-page">
    {{ partial src="partials/_animated-wave" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    {{ if get:page <= 1 && get:category == null }}
    <div class="featured-articles">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    {{ collection:articles limit="1" featured:is="true"}}
                    <div class="article featured {{ if external }}external{{ /if }}">
                        <div class="thumbnail">
                            <a
                                    {{ if external }}
                                    href="{{ external_link }}" target="_blank"
                                    {{ else }}
                                    href="{{ link to='{url}' }}"
                                    {{ endif }}
                            >
                                {{ glide:hero_image width="600" format="webp" }}
                                <img class="img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                {{ /glide:hero_image }}
                            </a>
                        </div>
                        <div class="meta">
                            {{ if external }}
                            <span class="external-source">
                                {{ external_resource }}
                            </span>
                            <img class="external-source-separator" src="/images/icon/slash-breadcrumbs.svg" alt="">
                            {{ /if }}
                            
                            {{ if categories }}
                            <span class="category">
                                {{ categories }}
                                {{ title }}
                                {{ /categories }}
                            </span>
                            —
                            {{ /if }}
                            
                            <span class="published-date">
                                {{ publish_date format="d M Y" }}
                            </span>
                        </div>
                        <h4 class="title">
                            <a
                                    {{ if external }}
                                    href="{{ external_link }}" target="_blank"
                                    {{ else }}
                                    href="{{ link to='{url}' }}"
                                    {{ endif }}
                            >
                                {{ title }}
                            </a>
                        
                        </h4>
                        <div class="excerpt">
                            {{ intro }}
                        </div>
                    </div>
                    {{ /collection:articles }}
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    {{ collection:articles limit="3" offset="1" featured:is="true" }}
                    {{ if !no_results }}
                    <div class="article {{ if external }}external{{ /if }}">
                        <div class="d-flex">
                            <div class="thumbnail">
                                <a
                                        {{ if external }}
                                        href="{{ external_link }}" target="_blank"
                                        {{ else }}
                                        href="{{ link to='{url}' }}"
                                        {{ endif }}
                                >
                                    {{ glide:hero_image width="600" format="webp" }}
                                    <img class=" img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                    {{ /glide:hero_image }}
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    {{ if external }}
                                    <span class="external-source">
                                        {{ external_resource }}
                                    </span>
                                    <img class="external-source-separator" src="/images/icon/slash-breadcrumbs.svg"
                                         alt="">
                                    {{ /if }}
                                    
                                    {{ if categories }}
                                    <span class="category">
                                    {{ categories }}
                                    {{ title }}
                                    {{ /categories }}
                                    </span>
                                    —
                                    {{ /if }}
                                    
                                    <span class="published-date">
                                    {{ publish_date format="d M Y" }}
                                    </span>
                                </div>
                                <h4 class="title">
                                    <a
                                            {{ if external }}
                                            href="{{ external_link }}" target="_blank"
                                            {{ else }}
                                            href="{{ link to='{url}' }}"
                                            {{ endif }}
                                    >
                                        {{ title }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {{ /if }}
                    {{ /collection:articles }}
                </div>
            </div>
        </div>
    </div>
    {{ /if }}
    
    {{ collection:articles limit="6" paginate="true" as="posts" taxonomy:categories=get:category }}
    <div class="articles {{ if get:page > 1 || get:category != null }} no-bg {{ /if }}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills categories">
                        <li class="nav-item">
                            <a href="{{ current_uri }}" class="nav-link">
                                All Stories
                            </a>
                        </li>
                        {{ taxonomy from="categories" }}
                        <li class="nav-item">
                            <a class="nav-link {{ if get:category === slug }}active{{ /if }}"
                               href="?category={{ slug }}">{{ title }}</a>
                        </li>
                        {{ /taxonomy }}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {{ if no_results }}
                        <div class="no-result">
                            <h3>This content is currently unavailable</h3>
                            <p>The link you opened may have expired</p>
                        </div>
                    {{ else }}
                    {{ posts }}
                    <div class="article {{ if external }}external{{ /if }}">
                        <div class="d-flex">
                            <div class="thumbnail">
                                <a
                                        {{ if external }}
                                        href="{{ external_link }}" target="_blank"
                                        {{ else }}
                                        href="{{ link to='{url}' }}"
                                        {{ endif }}
                                >
                                    {{ glide:hero_image width="600" format="webp" }}
                                    <img class="img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                    {{ /glide:hero_image }}
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    {{ if external }}
                                    <span class="external-source">
                                        {{ external_resource }}
                                    </span>
                                    <img class="external-source-separator" src="/images/icon/slash-breadcrumbs.svg"
                                         alt="">
                                    {{ /if }}
                                    
                                    {{ if categories }}
                                    <span class="category">
                                        {{ categories }}
                                        {{ title }}
                                        {{ /categories }}
                                        </span>
                                    —
                                    {{ /if }}
                                    
                                    <span class="published-date">
                                            {{ publish_date format="d M Y" }}
                                        </span>
                                </div>
                                <h4 class="title">
                                    <a
                                            {{ if external }}
                                            href="{{ external_link }}" target="_blank"
                                            {{ else }}
                                            href="{{ link to='{url}' }}"
                                            {{ endif }}
                                    >
                                        {{ title }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {{ /posts }}
                    {{ partial:_pagination }}
                    {{ endif }}
                </div>
                <div class="col-lg-4">
                    {{ partial src="components/subscribe-cta" class="small" }}
                </div>
            </div>
        </div>
    </div>
    {{ /collection:articles }}
</div>
