<div class="container my-5">
    <h1 class="mb-3">{{ title }}</h1>
    {{ if intro }}
    <p class="lead mb-5">{{ intro }}</p>
    {{ /if }}
    {{ collection:articles limit="6" paginate="true" as="posts" }}
        <div class="row">
            {{ posts }}
            <div class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    {{ if featured_image }}
                    <img src="{{ featured_image }}" class="card-img-top">
                    {{ else }}
                    <img src="https://via.placeholder.com/600x400" class="card-img-top">
                    {{ /if }}
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <p class="card-text">{{ excerpt }}</p>
                        <a href="{{ link to='{url}' }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            {{ /posts }}
        </div>
    
        {{ partial:_pagination }}
    {{ /collection:articles }}
</div>
