<div class="article-list-page">
    {{ partial src="partials/_animated-wave" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    
    <div class="featured-articles">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-up">
                    {{ collection:articles limit="1" }}
                    <div class="article featured">
                        <div class="thumbnail">
                            {{ if external_link }}
                            <a href="{{ external_link }}" target="_blank">
                                {{ else }}
                                <a href="{{ link to='{url}' }}">
                                    {{ endif }}
                                    {{ glide:hero_image width="600" format="webp" }}
                                    <img class="img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                    {{ /glide:hero_image }}
                                </a>
                        </div>
                        <div class="meta">
                            {{ if categories }}
                            <span class="category">
                                {{ categories }}
                                <a href="{{ url }}">{{ title }}</a>
                                {{ /categories }}
                            </span>
                            —
                            {{ /if }}
                            <span class="published-date">
                                {{ publish_date format="d M Y" }}
                            </span>
                        </div>
                        <h4 class="title">
                            {{ if external_link }}
                            <a href="{{ external_link }}" target="_blank">
                                {{ else }}
                                <a href="{{ link to='{url}' }}">
                                    {{ endif }}
                                    {{ title }}
                                </a>
                        </h4>
                        <div class="excerpt">
                            {{ intro }}
                        </div>
                    </div>
                    {{ /collection:articles }}
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    {{ collection:articles limit="4" offset="1" }}
                    <div class="article {{ if external_link }}external{{ /if }}">
                        <div class="meta">
                            {{ if categories }}
                            <span class="category">
                                {{ categories }}
                                <a href="{{ url }}">{{ title }}</a>
                                {{ /categories }}
                            </span>
                            —
                            {{ /if }}
                            <span class="published-date">
                            {{ publish_date format="d M Y" }}
                        </span>
                        </div>
                        <h4 class="title">
                            {{ if external_link }}
                            <a href="{{ external_link }}" target="_blank">
                                {{ else }}
                                <a href="{{ link to='{url}' }}">
                                    {{ endif }}
                                    {{ title }}
                                </a>
                        </h4>
                    </div>
                    {{ /collection:articles }}
                </div>
            </div>
        </div>
    </div>
    
    {{ collection:articles limit="3" paginate="true" as="posts" taxonomy:categories=get:category }}
    <div class="articles {{ if get:page && !get:page == 1 }} no-bg {{ /if }}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills categories">
                        {{ taxonomy from="categories" }}
                        <li class="nav-item">
                            <a class="nav-link {{ if get:category === slug }}active{{ /if }}" href="?category={{ slug }}">{{ title }}</a>
                        </li>
                        {{ /taxonomy }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {{ posts }}
                    <div class="article {{ if external_link }}external{{ /if }}">
                        <div class="d-flex">
                            <div class="thumbnail">
                                {{ if external_link }}
                                <a href="{{ external_link }}" target="_blank">
                                    {{ glide:hero_image width="600" format="webp" }}
                                    <img class="img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                    {{ /glide:hero_image }}
                                </a>
                                {{ else }}
                                <a href="{{ link to='{url}' }}">
                                    {{ glide:hero_image width="600" format="webp" }}
                                    <img class="img-fluid" src="{{ url }}" alt="{{ alt }}" title="{{ title ?? alt }}">
                                    {{ /glide:hero_image }}
                                </a>
                                {{ endif }}
                            
                            </div>
                            <div class="content">
                                <div class="meta">
                                    {{ if categories }}
                                    <span class="category">
                                        {{ categories }}
                                        <a href="{{ url }}">{{ title }}</a>
                                        {{ /categories }}
                                    </span>
                                    —
                                    {{ /if }}
                                    <span class="published-date">
                                        {{ publish_date format="d M Y" }}
                                    </span>
                                </div>
                                <h4 class="title">
                                    {{ if external_link }}
                                    <a href="{{ external_link }}" target="_blank">
                                        {{ title }}
                                    </a>
                                    {{ else }}
                                    <a href="{{ link to='{url}' }}">
                                        {{ title }}
                                    </a>
                                    {{ endif }}
                                </h4>
                            </div>
                        </div>
                    </div>
                    {{ /posts }}
    
                    {{ partial:_pagination }}
                </div>
                <div class="col-md-4">
                
                </div>
            </div>
        </div>
    </div>
    {{ /collection:articles }}
</div>
