<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            {{ if hero_image }}
            <div class="hero-image mb-4">
                <img class="img-fluid" src="{{ hero_image }}" alt="">
            </div>
            {{ /if }}
            <h1>{{ title }}</h1>
            
            <div class="lead mb-4">
                <p>
                    {{ intro }}
                </p>
            </div>
            
            <div class="content">
                {{ content }}
            </div>
    
            <hr class="my-5">
            <h2>Normal form</h2>
            <div class="contact-form-container">
                {{ form:create in='contact_us' }}
                    {{ if success }}
                        <div class="alert alert-success">
                            {{ success }}
                        </div>
                    {{ else }}
                        {{ if errors }}
                            <div class="alert alert-danger">
                                {{ errors }}
                                    {{ value }}<br>
                                {{ /errors }}
                            </div>
                        {{ /if }}
                        {{ fields | dump }}
                        <div class="row g-3 was-validation">
                            {{ fields }}
                                <div class="col-xs-12 {{ if width != '100'}} col-md-6 {{ /if }}">
                                    <label class="form-label">{{ display }}</label>
                                    {{ if type == 'text' }}
                                        <input name={{ handle }} type="text" class="form-control {{ if error }} is-invalid{{ /if }}" value="{{ old }}">
                                    {{ elseif type == 'textarea' }}
                                        <textarea name={{ handle }} type="text" class="form-control {{ if error }} is-invalid{{ /if }}">{{ old }}</textarea>
                                    {{ /if }}
                                    {{ if error }}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {{ /if }}
                                </div>
                            {{ /fields }}
                            <div class="col-xs-12">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    {{ /if }}
    
                {{ /form:create }}
            </div>
    
            <hr class="my-5">
            
            <h2>AJAX form</h2>
            <div class="contact-form-container">
                {{ form:create in='contact_us' class="ajax-form" }}
                
                <div class="alert alert-success d-none">
                    Submission successful.
                </div>
                <div class="alert alert-danger d-none">
                </div>
                
                {{ fields | dump }}
                <div class="row g-3 was-validation">
                    {{ fields }}
                    <div class="col-xs-12 {{ if width != '100'}} col-md-6 {{ /if }}">
                        <label class="form-label">{{ display }}</label>
                        {{ if type == 'text' }}
                        <input name={{ handle }} type="text" class="form-control" value="{{ old }}">
                        {{ elseif type == 'textarea' }}
                        <textarea name={{ handle }} type="text" class="form-control">{{ old }}</textarea>
                        {{ /if }}
                        <div class="invalid-feedback"></div>
                    </div>
                    {{ /fields }}
                    <div class="col-xs-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
        
                {{ /form:create }}
            </div>
        </div>
    </div>
</div>
