<!--<div class="page-home transparent-menu">-->
<!--    <section class="hero-banner" style="background-image: url('/images/static/banner.jpg');">-->
<!--        <div class="hero-content-container">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col">-->
<!--                        <div class="hero-content text-light">-->
<!--                            <h1>MERMAID (Marine Ecological Research Management Aid)</h1>-->
<!--                            <p class="intro-medium">Transform your underwater insights into data-driven actions that save coral reefs</p>-->
<!--                            <div class="scroll-button">-->
<!--                                <svg fill="none" height="36" viewBox="0 0 25 36" width="25"-->
<!--                                     xmlns="http://www.w3.org/2000/svg">-->
<!--                                    <rect height="34" rx="9" stroke="#fff" stroke-width="2" width="22" x="1.49182"-->
<!--                                          y="1"/>-->
<!--                                    <circle class="scroll-wheel" cx="12.4918" cy="12" fill="#fff" r="2.25"/>-->
<!--                                </svg>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="separator d-none">-->
<!--            <img src="/images/waves-blue.svg" alt="">-->
<!--        </div>-->
<!--    -->
<!--        {{ partial src="partials/_floating-icons" }}-->
<!--        -->
<!--        <div class="separator-animated">-->
<!--            &lt;!&ndash; <svg enable-background="new 0 0 150 17.6" viewBox="0 0 150 17.6" xmlns="http://www.w3.org/2000/svg"# &ndash;&gt;-->
<!--            -->
<!--            <svg enable-background="new 0 0 150 13.5" viewBox="0 0 150 13.5" xmlns="http://www.w3.org/2000/svg"-->
<!--                 xmlns:xlink="http://www.w3.org/1999/xlink">-->
<!--                <linearGradient id="a" gradientTransform="matrix(1 0 0 -1 0 608)" gradientUnits="userSpaceOnUse"-->
<!--                                x1="698.9582" x2="674.4582" y1="657.3207" y2="482.96">-->
<!--                    <stop offset="0" stop-color="#2970bb"/>-->
<!--                    <stop offset="1" stop-color="#044c99"/>-->
<!--                </linearGradient>-->
<!--                <linearGradient id="b" gradientTransform="matrix(1 0 0 -1 0 608)" gradientUnits="userSpaceOnUse"-->
<!--                                x1="655.195" x2="690.751" y1="655.7264" y2="461.3845">-->
<!--                    <stop offset="0" stop-color="#2b7dc6"/>-->
<!--                    <stop offset="1" stop-color="#5094de"/>-->
<!--                </linearGradient>-->
<!--                <g class="parallax d-none">-->
<!--                    <path d="m-112 10.1c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"-->
<!--                          fill="url(#a)" opacity=".8"/>-->
<!--                    <path d="m-112 11.5c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.5 88-8.5 58 8.4 88 8.4v20.6h-352z"-->
<!--                          fill="url(#b)"/>-->
<!--                    <path d="m-112 13.4c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"-->
<!--                          fill="#fff"/>-->
<!--                </g>-->
<!--                -->
<!--                <g class="parallax">-->
<!--                    <path d="m-112 9.3c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"-->
<!--                          fill="url(#a)" opacity=".8"/>-->
<!--                    <path d="m-112 10.7c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.5 88-8.5 58 8.4 88 8.4v20.6h-352z"-->
<!--                          fill="url(#b)"/>-->
<!--                    <path d="m-112 12.6c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"-->
<!--                          fill="#fff"/>-->
<!--                </g>-->
<!--            </svg>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section intro">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <div class="content-container">-->
<!--                        <div class="intro-large">-->
<!--                            <p>MERMAID aggregates and manages data on coral reef health - empowering scientists, communities, and governments in linking science to rapid action in marine conservation efforts.</p>-->
<!--                        </div>-->
<!--                        <div class="intro-medium">-->
<!--                            <p>For the first time, marine scientists can gather, analyze and share field-based reef surveys on an open-source platform that provides granular data.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section principles">-->
<!--        <div class="img-bg" style="background-image:url(/images/static/bg-1.jpg) ">-->
<!--            {{ partial src="partials/_floating-icons" }}-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <div class="intro-container">-->
<!--                        <div class="intro-medium text-light">-->
<!--                            MERMAID helps answer:-->
<!--                        </div>-->
<!--                        <div class="intro-large text-light">-->
<!--                            Is conservation working? Are reefs recovering? How can conservation efforts help reefs adapt to a changing climate?-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        -->
<!--        <div class="container principle-container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <h3 class="title">MERMAID brings information and people together to protect coral reefs</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                    <div class="principle">-->
<!--                        <img src="/images/static/feature-field-driven.png" alt="">-->
<!--                        <h3>Field driven</h3>-->
<!--                        <p>MERMAID is powered by data collected and shared by scientists across the world.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <div class="principle">-->
<!--                        <img src="/images/static/feature-community.png" alt="">-->
<!--                        <h3>Community centric</h3>-->
<!--                        <p>MERMAID makes data accessible to coastal communities—empowering people with the knowledge to manage resources sustainably.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <div class="principle">-->
<!--                        <img src="/images/static/feature-human-centered.png" alt="">-->
<!--                        <h3>Human centered</h3>-->
<!--                        <p>MERMAID encourages collaboration and the sharing of data, fueling discoveries and rapid action for reef protection.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section numbers">-->
<!--        <div class="container number-container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <h3>-->
<!--                        MERMAID by numbers-->
<!--                    </h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-6 col-md-3">-->
<!--                    <div class="number">-->
<!--                        258-->
<!--                    </div>-->
<!--                    <div class="label">-->
<!--                        Registered users-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-6 col-md-3">-->
<!--                    <div class="number">-->
<!--                        109-->
<!--                    </div>-->
<!--                    <div class="label">-->
<!--                        Organizations-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-6 col-md-3">-->
<!--                    <div class="number">-->
<!--                        2,601-->
<!--                    </div>-->
<!--                    <div class="label">-->
<!--                        Coral reef sites-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-6 col-md-3">-->
<!--                    <div class="number">-->
<!--                        14-->
<!--                    </div>-->
<!--                    <div class="label">-->
<!--                        Countries-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <hr>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section features">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="feature">-->
<!--                        <h2>Collect reef data...</h2>-->
<!--                        <div class="description">-->
<!--                            <p>-->
<!--                                Aggregate your observations directly onto the MERMAID platform—quickly, effectively and accurately.-->
<!--                            </p>-->
<!--                            <a href="#" class="btn btn-primary">-->
<!--                                Get started-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="img-container">-->
<!--                            <img class="img-fluid" src="/images/static/collect.svg" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="feature">-->
<!--                        <h2>...And visualize it</h2>-->
<!--                        <div class="description">-->
<!--                            <p>-->
<!--                                Interact with the global MERMAID dashboard to get a snapshot of coral reef health around the globe.-->
<!--                            </p>-->
<!--                            <a href="#" class="btn btn-primary">-->
<!--                                View the dashboard-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="img-container">-->
<!--                            <img class="img-fluid" src="/images/static/dash.svg" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section stories">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <h3>Reef stories</h3>-->
<!--                </div>-->
<!--                <div class="col text-end">-->
<!--                    <a href="#" class="view-more">-->
<!--                        <span class="arrow before">-->
<!--                            <img src="/images/icon/arrow.svg" alt="">-->
<!--                        </span>-->
<!--                        <span class="label">View all</span>-->
<!--                        <span class="arrow after">-->
<!--                            <img src="/images/icon/arrow.svg" alt="">-->
<!--                        </span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="story featured">-->
<!--                        <div class="thumbnail">-->
<!--                            <a href="#">-->
<!--                                <img class="img-fluid" src="/images/static/article-1.jpg" alt="">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="meta">-->
<!--                            <span class="category">News</span>-->
<!--                            —-->
<!--                            <span class="published-date">14 Jun 2021</span>-->
<!--                        </div>-->
<!--                        <h4 class="title">-->
<!--                            <a href="#">-->
<!--                                Researchers obtain first data from beneath 'Doomsday Glacier-->
<!--                            </a>-->
<!--                        </h4>-->
<!--                        <div class="excerpt">-->
<!--                            <p>In 2019, we joined the research vessel Barba as part of its Arctic Whale expedition to study the effects of microplastics on Atlantic whale species in the coastal waters…</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="story">-->
<!--                        <div class="meta">-->
<!--                            <span class="category">News</span>-->
<!--                            —-->
<!--                            <span class="published-date">15 Jun 2021</span>-->
<!--                        </div>-->
<!--                        <h4 class="title">-->
<!--                            <a href="#">-->
<!--                                Filipino Scientist Goes 10,000 Meters Down the Ocean and Finds a Teddy Bear-->
<!--                            </a>-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                    <div class="story">-->
<!--                        <div class="meta">-->
<!--                            <span class="category">News</span>-->
<!--                            —-->
<!--                            <span class="published-date">15 Jun 2021</span>-->
<!--                        </div>-->
<!--                        <h4 class="title">-->
<!--                            <a href="#">-->
<!--                                Activists and scientists demand political support for Europe's first wild river national park-->
<!--                            </a>-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                    <div class="story">-->
<!--                        <div class="meta">-->
<!--                            <span class="category">News</span>-->
<!--                            —-->
<!--                            <span class="published-date">15 Jun 2021</span>-->
<!--                        </div>-->
<!--                        <h4 class="title">-->
<!--                            <a href="#">-->
<!--                                Methane-Eating Microbes in Ocean Play Important Role in Moderating Earth’s Temperature-->
<!--                            </a>-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                    <div class="story">-->
<!--                        <div class="meta">-->
<!--                            <span class="category">News</span>-->
<!--                            —-->
<!--                            <span class="published-date">15 Jun 2021</span>-->
<!--                        </div>-->
<!--                        <h4 class="title">-->
<!--                            <a href="#">-->
<!--                                Mayflower 400: First Crewless Ship Run By AI To Sail Across The Atlantic-->
<!--                            </a>-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        -->
<!--        <div class="container subscribe">-->
<!--            <div class="bg-container">-->
<!--                <div class="bg-image" style="background-image: url('/images/static/banner.jpg');"></div>-->
<!--                <div class="bg-gradient"></div>-->
<!--                &lt;!&ndash; <div class="wave">-->
<!--                    <img src="/images/subscribe-waves.svg" alt="">-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <div class="content">-->
<!--                        <h2>Subscribe to Mermaid Mail</h2>-->
<!--                        <div class="intro-medium">-->
<!--                            <p>Get quarterly updates from us.-->
<!--                                <br>-->
<!--                                Read our <a href="#">Privacy policy</a>.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <a href="#" class="btn btn-primary">-->
<!--                            Sign up-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section testimonials">-->
<!--        <div class="container">-->
<!--            <div class="testimonials-slide slick-testimonials">-->
<!--                <div class="testimonial">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="avatar">-->
<!--                                <img src="/images/static/avatar.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-8">-->
<!--                            <div class="text">-->
<!--                                <div class="intro-large">-->
<!--                                    <p>We add value to our partners results when our practices & performance are of recognized standards of excellence & are well-adapted to local conditions.</p>-->
<!--                                </div>-->
<!--                                <div class="name">-->
<!--                                    Thomas Johnson-->
<!--                                </div>-->
<!--                                <div class="occupation">-->
<!--                                    General Manager of XYZ Company-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonial">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="avatar">-->
<!--                                <img src="/images/static/avatar.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-8">-->
<!--                            <div class="text">-->
<!--                                <div class="intro-large">-->
<!--                                    <p>We add value to our partners results when our practices & performance are of recognized standards of excellence & are well-adapted to local conditions.</p>-->
<!--                                </div>-->
<!--                                <div class="name">-->
<!--                                    Thomas Johnson-->
<!--                                </div>-->
<!--                                <div class="occupation">-->
<!--                                    General Manager of XYZ Company-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonial">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="avatar">-->
<!--                                <img src="/images/static/avatar.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-8">-->
<!--                            <div class="text">-->
<!--                                <div class="intro-large">-->
<!--                                    <p>We add value to our partners results when our practices & performance are of recognized standards of excellence & are well-adapted to local conditions.</p>-->
<!--                                </div>-->
<!--                                <div class="name">-->
<!--                                    Thomas Johnson-->
<!--                                </div>-->
<!--                                <div class="occupation">-->
<!--                                    General Manager of XYZ Company-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    -->
<!--    <section class="section partners">-->
<!--        <div class="container">-->
<!--            <h3 class="text-center">Trusted by leading organisations</h3>-->
<!--            <div class="partners-slide slick-partners">-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/CTC.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/JCU.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/RARE.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/WCS.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/WWF.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/WCS.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/WWF.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/JCU.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <a href="#">-->
<!--                        <img src="/images/static/partners/RARE.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

<div class="container py-5 bg-light">
    <div class="row">
        <div class="col-lg-8 col-md-10">
            {{ if hero_image }}
            <div class="hero-image mb-4">
                {{ glide:hero_image width="600" format="webp" }}
                <img class="img-fluid w-100" src="{{ url }}" alt="{{ alt }}">
                {{ /glide:hero_image }}
            </div>
            {{ /if }}
            <h1>{{ title }}</h1>

            <div class="lead mb-4">
                <p>
                    {{ intro }}
                </p>
            </div>

            <div class="content">
                {{ components }}
                {{ partial src="components/home/{type}" }}
                {{ /components }}
            </div>
        </div>
    </div>
</div>
