<div class="page-generic-container page-changelog">
    {{ partial src="partials/_animated-wave" }}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="narrow-content">
                    <h1 class="main-title">{{ title }}</h1>
                    {{ if intro }}
                    <div class="intro-large">
                        {{ intro }}
                    </div>
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="narrow-content">
            <div class="changelogs">
                {{ changelog }}
                <div class="version">
                    <h3>{{ version }} {{ release_date }}</h3>
                    <table class="table">
                        {{ changes }}
                            <tr>
                                <td class="type">
                                    <span class="badge {{ is_bug ? 'bug' : 'feature' }}"> {{ is_bug ? 'Bug' : 'Feature' }}</span>
                                </td>
                                <td class="desc">
                                    {{ name | trim }}
                                </td>
                                <td class="label">
                                    {{ apps }}
                                        <span class="badge feature-item">{{ value }}</span>
                                    {{ /apps }}
                                </td>
                            </tr>
                        {{ /changes }}
                    </table>
                </div>
                {{ /changelog }}
            </div>
        </div>
    </div>
</div>
