<div class="page-generic-container">
    <div class="animated-header">
        <svg enable-background="new 0 0 150 30" viewBox="0 0 150 30" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
    
            <linearGradient id="a" gradientTransform="rotate(90)">
                <stop offset="0" stop-color="#c2e1ff"/>
                <stop offset="1" stop-color="#fff"/>
            </linearGradient>
            <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="683" x2="683" xlink:href="#a" y1="0" y2="193.81" gradientTransform="rotate(90)"/>
            <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="683" x2="683" y1="51" y2="280" >
                <stop offset="0" stop-color="#88bdf2"/>
                <stop offset="1" stop-color="#c2e1ff"/>
            </linearGradient>
            
            <g class="parallax" opacity=".2">
                <path d="m-112 9.3c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"
                      fill="url(#b)"/>
                <path d="m-112 10.7c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.5 88-8.5 58 8.4 88 8.4v20.6h-352z"
                      fill="url(#c)"/>
                <path d="m-112 12.6c30 0 58-8.4 88-8.4s58 8.4 88 8.4 58-8.4 88-8.4 58 8.4 88 8.4v20.6h-352z"
                      fill="url(#a)"/>
            </g>
        </svg>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="narrow-content">
                    <h1 class="main-title">{{ title }}</h1>
                    <div class="intro-large">
                        {{ intro }}
                    </div>
                </div>
                <div class="narrow-content">
                    <p>MERMAID is an open-source application that collects and manages real-time data on coral reef health, developed in partnership between the WCS, WWF, and Sparkgeo.</p>
    
                    <p>Reef scientists have historically used clipboards to record their underwater findings. This process can take hours, days and sometimes months to complete. Transferring data from paper to spreadsheet. Calculating information. Editing each cell and correcting typos. One. Point. At. A. Time.</p>
    
                    <p>With MERMAID, scientists input their observations straight onto the platform. <br>
                    MERMAID does the job of tagging and sorting data, avoiding duplicates, standardizing scientific names and summarizing critical indicators.
                    </p>
                    <p>Data in, clean data out - transforming your underwater insights into evidence-based actions that save coral reefs.</p>
                </div>
                
                <div class="narrow-content">
                    <div class="accordion-container">
                        <h3>General question</h3>
                        <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#lorem" aria-expanded="true" aria-controls="lorem">
                                    What is lorem ipsum dolor si amet?
                                </button>
                            </h4>
                            <div id="lorem" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                <div class="accordion-body">
                                    ‘Lorem ipsum dolor sit amet, consectetur adipisici elit…’ (complete text) is dummy text that is not meant to mean anything. It is used as a placeholder in magazine layouts, for example, in order to give an impression of the finished document. The text is intentionally unintelligible so that the viewer is not distracted by the content. The language is not real Latin and even the first word ‘Lorem’ does not exist. It is said that the lorem ipsum text has been common among typesetters since the 16th century.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Where can I subscribe your newsletter?
                                </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do I need to create an account to access Collect & Dashboard
                                </button>
                            </h4>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I edit the account profile?
                                </button>
                            </h4>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="image-box top-text" style="background-image: url('/images/static/image-box-top.jpg')">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-container">
                        <div class="padding before"></div>
                        <div class="narrow-content">
                            <div class="intro-medium">
                                Vision
                            </div>
                            <div class="intro-large">
                                A world where information quickly and cleanly moves from the hands of scientists to communities and governments, enabling rapid action to protect coral reefs.
                            </div>
                        </div>
                        <div class="padding after"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="narrow-content">
                    <div class="intro-large">
                        {{ intro }}
                    </div>
                </div>
                <div class="narrow-content">
                    <p>MERMAID is an open-source application that collects and manages real-time data on coral reef health, developed in partnership between the WCS, WWF, and Sparkgeo.</p>
                    
                    <p>Reef scientists have historically used clipboards to record their underwater findings. This process can take hours, days and sometimes months to complete. Transferring data from paper to spreadsheet. Calculating information. Editing each cell and correcting typos. One. Point. At. A. Time.</p>
                    
                    <p>With MERMAID, scientists input their observations straight onto the platform. <br>
                        MERMAID does the job of tagging and sorting data, avoiding duplicates, standardizing scientific names and summarizing critical indicators.
                    </p>
                    <p>Data in, clean data out - transforming your underwater insights into evidence-based actions that save coral reefs.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="image-box bottom-text" style="background-image: url('/images/static/image-box-bottom.jpg')">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-container">
                        <div class="padding before"></div>
                        <div class="narrow-content">
                            <div class="intro-medium text-light">
                                Vision
                            </div>
                            <div class="intro-large text-light">
                                A world where information quickly and cleanly moves from the hands of scientists to communities and governments, enabling rapid action to protect coral reefs.
                            </div>
                        </div>
                        <div class="padding after"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3 class="heading">All features to help your lorem ipsum</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <div class="image">
                            <img src="/images/static/about-features/free.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>It's free</h3>
                        </div>
                        <div class="description">
                            Free and ready to use. Upload your reef data, share and collaborate wherever you are.
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="feature">
                        <div class="image">
                            <img src="/images/static/about-features/save-time.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>Saves time</h3>
                        </div>
                        <div class="description">
                            Share your findings with stakeholders and communities on the same day you dive. Collect, analyze and visualize your data faster than ever.
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="feature">
                        <div class="image">
                            <img src="/images/static/about-features/easy-to-use.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>Easy to use</h3>
                        </div>
                        <div class="description">
                            Dive into MERMAID with little to no learning curve, it’s designed to be intuitive and user-friendly.
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="feature">
                        <div class="image">
                            <img src="/images/static/about-features/flexible-data-sharing.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>Flexible data-sharing</h3>
                        </div>
                        <div class="description">
                            Specify how and with whom you share your observations. MERMAID gives you the tools and provides full autonomy of data and data sharing.
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="feature">
                        <div class="image">
                            <img src="/images/static/about-features/accessible-offline.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>Accessible offline</h3>
                        </div>
                        <div class="description">
                            Use MERMAID offline while you’re on a boat or remote island. Your data will be validated and uploaded when you’re back online.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <div class="image">
                            <img src="/images/static/about-features/reef-monitoring.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>Supports reef monitoring methods</h3>
                        </div>
                        <div class="description">
                            MERMAID supports commonly used coral reef monitoring methods for fish belt surveys and benthic transects.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
