<div class="page-generic-container">
    {{ partial src="partials/_animated-wave" }}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="narrow-content">
                    <h1 class="main-title">{{ title }}</h1>
                    {{ if intro }}
                    <div class="intro intro-large">
                        {{ intro }}
                    </div>
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="content">
        {{ page_components }}
        {{ partial src="components/{type}" }}
        {{ /page_components }}
    </div>
</div>
