<script>
    /* window.onload = function(){
        window.print();
        setTimeout(window.close, 500);
    } */
</script>
<div class="page-tutorial page-tutorial-download">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="narrow-content">

                    <!-- Table of Contents -->
                    <div class="heading">
                        <h1 class="main-title">{{ trans:documentation.toc }}</h1>
                    </div>
                    <div class="tutorial-side-menu">
                        {{ nav:collection:tutorials paginate="false" }}
                        <div class="nav flex-column">
                            {{ if depth == 1 }}
                                <div class="nav-item">
                                    <a class="nav-link" href="#{{ id }}">{{ title }}</a>
                                </div>
                                {{ if children }}
                                <div id="tutorial-menu-item-{{ index }}" class="collapse show">
                                    {{ *recursive children* }}
                                </div>
                                {{ /if }}
                            {{ elseif depth == 2 }}
                                <div class="nav-item">
                                    {{ if children }}
                                    <span class="nav-link" href="#{{ id }}">{{ title }}</span>
                                    {{ *recursive children* }}
                                    {{ else }}
                                    <a class="nav-link" href="#{{ id }}">{{ title }}</a>
                                    {{ endif }}
                                </div>
                            {{ /if }}
                        </div>
                        {{ /nav:collection:tutorials }}
                    </div>

                    {{ nav:collection:tutorials paginate="false" }}
                    {{ if depth == 1 }}
                    <div class="page-break"></div>
                    {{ /if }}
                    <div class="chapter" id="{{ id }}">
                        <div class="heading">
                            {{ if depth == 1 }}
                            <h1 class="main-title">{{ title }}</h1>
                            {{ elseif depth == 2 }}
                            <h2 class="main-title">{{ title }}</h2>
                            {{ elseif depth == 3 }}
                            <h3 class="main-title">{{ title }}</h3>
                            {{ endif }}
                        </div>
                        
                        {{ if intro }}
                        <div class="intro-large">
                            {{ intro }}
                        </div>
                        {{ /if }}
                        
                        <div class="content">
                            {{ page_components }}
                            {{ partial src="components/{type}" }}
                            {{ /page_components }}
                        </div>
                        {{ if children }}
                        <div class="subchapters">
                            {{ *recursive children* }}
                        </div>
                        {{ /if }}
                    </div>
                    {{ /nav:collection:tutorials }}
                </div>
            </div>
        </div>
    </div>
</div>
